<html>	

	<head> 

<!-- Von Chat head eingefügt-->

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Lettuce Letter</title>
		<meta name="author" content="Codeconvey" />
		
		<!-- Style CSS implementieren-->
		<link rel="stylesheet" href="chat.css">
    </head>
    <body>
		
        <header class="ScriptHeader">
            <div class="rt-container">
                <div class="col-rt-12">
                    <div class="rt-heading">
                        <div class="vertikal-flex">
                            <h1>Lettuce Letter - LETTUCE HAVE PLAYED!</h1>
                        <br>
                        </div>
                        <div class="vertikal-flex">
                        <!-- Anzeigen was gezeichnet werden soll als Text-->
                            <h2>
                                Game <%= Game%> ist leider schon beendet:
                            </h2>
                    
                        </div>
                    </div>
                      
                </div>
            </div>
        </header>
        
        <p>
            <input type="number" name="gameID" value=<%= Game%> hidden>
            <table border="0">
                    <tr><td>Spiel Nummer</td><td><%= GameRow.gameID %></td></tr>
                    <tr><td>Runde 1</td><td><%= GameRow.round1%></td></tr>
                    <tr><td>Runde 2</td><td><img src="<%= GameRow.round2%>" alt="Bild"></td></tr> <!--Bild anzeigen-->
                    <tr><td>Runde 3</td><td><%= GameRow.round3%></td></tr>
                    <tr><td>Runde 4</td><td><img src="<%= GameRow.round4%>" alt="Bild"></td></tr> <!--Bild anzeigen-->  
                    <tr><td>Runde 5</td><td><%= GameRow.round5%></td></tr>    
                    <tr><td>Runde 6</td><td><img src="<%= GameRow.round6%>" alt="Bild"></td></tr> <!--Bild anzeigen-->
                    <tr><td>Runde 7</td><td><%= GameRow.round7%></td></tr>
            </table> 
        </p>
    
    </body>
</html>